<%= link_to "New Tweet", new_tweet_path, id: "new_link", remote: true %>


<div id="tweet_list">
  <ul>
    <% Tweet.all.each do |tweet| %>
      <li><%= image_tag tweet.user.avatar(:thumb) %> <%= tweet.user.username %><br/><%= tweet.tweet %></li>
      <% end %>
  </ul>
</div>
